@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');
.page-margin {
    max-width: 1080px;
    margin: 0 auto;
    border: 1px;
    background-color: rgb(223, 229, 233);
}

.header {
    display: flex;
}

.price-section {
    display: flex;
}

.watch {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 250px;
    line-height: 230px;
    margin-bottom: 70px;
    color: #272727;
}

.header-text2 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    margin-bottom: 60px;
    color: #161515;
}

.mor705 {
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    color: #161515;
}

.paymen-button {
    width: 278px;
    height: 82px;
    color: white;
    background: #161515;
    
}

.price {
    width: 143px;
    height: 82px;
    text-align: center;
    line-height: 82px;
    background: #FFFFFF;
    box-shadow: 0px 0px 28px rgba(214, 214, 214, 0.25);
}

.main{
    flex-direction: column;
    text-align: center;
    
}

   .popular{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 186%;
    text-align: center;
    color: #000000;
}

    .Models{
    font-family: 'League Spartan';
    font-weight: 400;
    font-size: 72px;
    text-align: center;
    line-height:112.5%;
    color: #000000;
    margin-bottom: 84px;
}

.Son22{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    color: #000000; 
    margin-top: 177px;
}

.main-text,.main-text2{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 32px;
    line-height: 155%;
    text-align: center;
    margin-bottom: 100px;
    color: #161515;
    padding: 0px 270px 0px 270px;
    }
   
    .Sw12{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 29px;
    text-align: center;
    color: #161515;
    margin-top: 100px;
 }

    .Product{ 
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 186%;
    text-align: center;
    text-transform: capitalize;
    color: #161515;
    }
    
    .main-text3{
    font-family: 'League Spartan';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 170%;
    text-align: center;
    color: #161515;
    padding: 0px 270px 0px 270px;
 }
 
 